<!-- Title page -->
<section class="bg-img1 txt-center p-lr-15 p-tb-92" style="background-image: url('assets/cozastore-master/images/bg-01.jpg');">
    <h2 class="ltext-105 cl0 txt-center">
        Ahşap ve Metal Soyunma Dolapları
    </h2>
</section>	


<!-- Content page -->
<section class="bg0 p-t-75 p-b-120">
    <div class="container">
        <div class="row p-b-30">
            <div class="col-md-6 col-lg-7">
                <div class="p-t-7 p-r-85 p-r-15-lg p-r-0-md">
                    <h3 class="mtext-111 cl2 p-b-16" style="color:rgb(199, 54, 54);">
                        Ahşap ve Metal Soyunma Dolapları
                    </h3>
                    <p class="stext-113 cl6 p-b-26">
                        İş yerlerinde çalışan insanların çalışma saatlerinde eşyalarını güvenli bir yere koyması gerekir ve bu dolaplar şantiye soyuma dolabı. Şantiye soyunma dolapları personellerin kişisel eşyalarının hem kirlenmesini önler hem de güvenli bir şekilde muhafaza edilmesini sağlar. Personel eşyalarının yanı sıra tıbbi ilk yardım malzemelerinin de muhafaza edilmesi için bu dolaplar edilmekte.  İş yerleri personel eşyalarının zarar görmesini engellemek amacıyla her personele ayrı bir dolap tahsis eder.
                    </p>
                    <p class="stext-113 cl6 p-b-26">
                        2013 yılında resmi gazetede işçi soyunma dolapları ile ilgili her çalışanın çalışma saatleri içerisinde eşyalarını koyabileceği yeterli büyüklükte kilitli dolapların olması gerektiğine dair maddeler yayımlanmıştır. Uygun havalandırma ve aydınlatma sistemi bulunan soyunma odalarında muhafaza edilmelidir. Bu soyunma odaları da kolay ulaşılan ve kapasiteyi kaldırabilen bir düzeyde olmalıdır.  Şantiye soyunma dolabı su ve nemden uzak bir yerde konulması gerekmekte, dolapların içinde iş kıyafeti ve normal kıyafetin ayrı olarak konulabileceği 2 ayrı bölümün olması gerekmektedir
                    </p>
                    <p class="stext-113 cl6 p-b-26">
                        Şantiye Soyunma Dolapları, her personele özel ve kilitli olarak iş yerlerinde bulundurulmalıdır. İş sağlığı yönetmeliği kilit çeşitleri hakkında detaylı bilgi içermemektedir. Kilidin çeşidi iş yerine ve dolabı kullanacak personele göre değişiklik göstermektedir. Asma kilit, gömme kilit ya da elektronik kilitler tercih arasındadır.
                    </p>
                    <p class="stext-113 cl6 p-b-26">
                        Şantiye Soyunma Dolapları , kullanım amacına ve yerine göre değişiklik gösterebilir. Bu dolaplar metal ve ahşap olmak üzere iki malzemeden üretilmektedir.
                    </p>
                    <p class="stext-113 cl6 p-b-26">
                        
                    </p>
                  
                </div>
            </div>

            <div class="col-11 col-md-6 col-lg-5 m-lr-auto">
                <div class="how-bor1 ">
                    <div class="hov-img0">
                        <img src="assets/cozastore-master/images/homeView/hw1.png" alt="IMG">
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="order-md-2 col-md-6 col-lg-6 p-b-30">
                <div class="p-t-7 p-l-85 p-l-15-lg p-l-0-md">
                    <h3 class="mtext-111 cl2 p-b-16" style="color:rgb(199, 54, 54);">
                        Metal Soyunma Dolapları
                    </h3>  
                    <p class="stext-113 cl6 p-b-26">
                        Metal soyunma dolapları kalın saclardan üretilmektedir. Yangın ve darbelere karşı dayanıklıdır. Farklı renk ve modellerde üretim yapılabilmektedir. Aynı malzemeden üretilmekte ancak yine de üreticiden üreticiye farklılık gösterir. Temel fark kullanılan malzemenin kalınlığı ve kalitesidir.
                    </p>
                    <p class="stext-113 cl6 p-b-26">
                        Ekonomik, standart, Z model dolaplar olarak üç tür dolap bulunmaktadır. Genellikle içlerinde metal askılıklar bulunmaktadır. İçinde bulunan rafların yerleri kolaylıkla değişmektedir. Raf boyutlarında da değişiklik yapılabildiği gibi raf sayısında da değişiklik seçeneği vardır.
                    </p>
                    <p class="stext-113 cl6 p-b-26">
                        Metal soyunma dolapları ahşap soyunma dolaplarına göre daha sağlam bir yapıya sahiptir. Darbelere, çizilmelere karşı dayanıklıdır. Hava şartlarından kolay etkilenmez. Taşıması kolay olduğu gibi temizlenmesi de daha kolaydır, leke tutmaz.  Daha az maliyetlidir.
                    </p>   
                    <p class="stext-113 cl6 p-b-26">
                        Daha çok imalathanelerde ve atölyelerde tercih edilen metal soyunma dolapları personel sayısının çok olduğu iş yerleri için ideal çözümler arasında yer almaktadır.  Bu soyunma dolapları genellikle 1,2,3,4 ve 6 kapılı olarak üretilmektedir. Toz veya sıvı boya kullanarak boyamak mümkün.
                    </p>            
                </div>
            </div>

            <div class="order-md-2 col-md-6 col-lg-6 p-b-30">
                <div class="p-t-7 p-l-85 p-l-15-lg p-l-0-md">
                    <h3 class="mtext-111 cl2 p-b-16" style="color:rgb(199, 54, 54);">
                        Ahşap Soyunma Dolapları
                    </h3>  
                    <p class="stext-113 cl6 p-b-26">
                        Ahşap soyunma dolapları 2.3.4.ya da 6 kapılı şekilde suntadan üretilmektedir. Melamin, lake, çekmeceli, raylı gibi farklı çeşitlerde üretilmektedir. Ahşap soyunma dolapları belli bir standartta üretilmektedir ve kullanıcının tercihine göre değişiklik yapması pek mümkün değildir.
                    </p>
                    <p class="stext-113 cl6 p-b-26">
                        Metal soyunma dolaplarına göre daha kısa ömürlüdür. Hem tasarım olarak hem renk olarak her iş yerine uyumlu olmayabilir. Ayrıca yangınlara, darbelere ve çizilmelere karşı da metal soyunma dolapları kadar dayanıklı değildir. Dolabın yerinin değiştirilmesi ya da taşınma durumunda zarar görebilir. Ayrıca iklim koşullarından daha çabuk etkilenmekte, su alma gibi durumlarda dolaplarda şişme ve bozulmalar olmaktadır.
                    </p>
                    <h3 style="color:rgb(199, 54, 54);">İş Güvenliği Dolapları Ölçüleri</h3>
                    <br>   
                    <p class="stext-113 cl6 p-b-26">
                        İş güvenliği dolaplarının ölçüleri şu şekilde olmalıdır.
                        <br>
                        En: 80 cm
                        <br>
                        Derinlik: 40 cm
                        <br>
                        Yükseklik: 200 cm
                        <br>
                        Kapı yüksekliği: 165 cm
                        <br>
                        Dolap içi bölmesi derinliği: 40 cm
                        <br>
                        Dolap göz sayısı: en az 2 adet
                        <br>
                        Kapı açılma derecesi: 90 derece                   
                     </p>              
                </div>
            </div>
        </div>
    </div>
</section>	
