<!-- Slider -->
<section class="section-slide">
    <div class="wrap-slick1 rs1-slick1">
        <div class="slick1">
            <div class="item-slick1" style="background-image: url(assets/cozastore-master/images/slide/slide-01.jpg);">
                <div class="container h-full">
                    <div class="flex-col-l-m h-full p-t-100 p-b-30">
                        <div class="layer-slick1 animated visible-false" data-appear="fadeInDown" data-delay="0">
                            <span class="ltext-202 cl2 respon2">
                                İstanbul İçi Hızlı Teslimat
                            </span>
                        </div>
                            
                        <div class="layer-slick1 animated visible-false" data-appear="fadeInUp" data-delay="800">
                            <h2 class="ltext-104 cl2 p-t-19 p-b-43 respon1">
                                işci Ranzaları
                            </h2>
                        </div>
                            
              
                    </div>
                </div>
            </div>

            <div class="item-slick1" style="background-image: url(assets/cozastore-master/images/slide/slide-02.jpg);">
                <div class="container h-full">
                    <div class="flex-col-l-m h-full p-t-100 p-b-30">
                        <div class="layer-slick1 animated visible-false" data-appear="rollIn" data-delay="0">
                            <span class="ltext-202 cl2 respon2">
                               İstanbul İçi Hızlı Teslimat
                            </span>
                        </div>
                            
                        <div class="layer-slick1 animated visible-false" data-appear="lightSpeedIn" data-delay="800">
                            <h2 class="ltext-104 cl2 p-t-19 p-b-43 respon1">
                                Metal Soyunma Dolapları
                            </h2>
                        </div>
                            
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Banner -->
<div class="sec-banner bg0">
    <div class="flex-w flex-c-m">
        <div class="size-202 m-lr-auto respon4">
            <!-- Block1 -->
            <div class="block1 wrap-pic-w">
                <img src="assets/cozastore-master/images/homeView/hw1.png" alt="IMG-BANNER">

                <a href="products" class="block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3">
                    <div class="block1-txt-child1 flex-col-l">
                        <span class="block1-name ltext-102 trans-04 p-b-8">
                            DOLAPLAR
                        </span>                     
                    </div>

                    <div class="block1-txt-child2 p-b-4 trans-05">
                        <div class="block1-link stext-101 cl0 trans-09">
                            Ürünleri İncele
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <div class="size-202 m-lr-auto respon4">
            <!-- Block1 -->
            <div class="block1 wrap-pic-w">
                <img src="assets/cozastore-master/images/homeView/hw2.png" alt="IMG-BANNER">

                <a href="products" class="block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3">
                    <div class="block1-txt-child1 flex-col-l">
                        <span class="block1-name ltext-102 trans-04 p-b-8">
                            ŞANTİYE RANZASI
                        </span>
                    </div>

                    <div class="block1-txt-child2 p-b-4 trans-05">
                        <div class="block1-link stext-101 cl0 trans-09">
                            Ürünleri İncele
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <div class="size-202 m-lr-auto respon4">
            <!-- Block1 -->
            <div class="block1 wrap-pic-w">
                <img src="assets/cozastore-master/images/homeView/hw3.png" alt="IMG-BANNER">

                <a href="products" class="block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3">
                    <div class="block1-txt-child1 flex-col-l">
                        <span class="block1-name ltext-102 trans-04 p-b-8">
                           İŞ GÜVELİĞİ EKİPMANLARI 
                        </span>
                    </div>

                    <div class="block1-txt-child2 p-b-4 trans-05">
                        <div class="block1-link stext-101 cl0 trans-09">
                            Ürünleri İncele
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<br>
<div class="jumbotron">
    <div class="container">
      <h1 class="display-3"><a href="https://knzgrupltdsti.sahibinden.com/" target="_blank">Sahibinden.com kurumsal üyelik!</a></h1>
      <p>Sayfamızdaki tüm ürünlere sahibinden.com kurumsal üyeliğimizdende ulaşabilirsiniz.....</p>
      <br>
      <a href="https://knzgrupltdsti.sahibinden.com/" target="_blank"><img src="assets/cozastore-master/images/icons/Sahibinden_Logo-01.svg" alt="ICON"></a>
    </div>
  </div>
<!-- Product -->

<section class="sec-product bg0 p-t-0 p-b-50">
    <div class="container">
        <div class="p-b-16">
        
        </div>

        <!-- Tab01 -->
        <div class="tab01">
            <!-- Nav tabs -->
           

            <!-- Tab panes -->
            <div class="tab-content p-t-50">
                <!-- - -->
                <h3 class="ltext-105 cl5 txt-center respon1">
                    Öne Çıkan Ürünler
                </h3>
                <div *ngFor="let category of categoryService.getAllCategoryHome();let i = index" class="tab-pane fade show" [attr.id]="category.id" [ngClass]="{'active': i === 0}" role="tabpanel">
                    <!-- Slide2 -->
                    <div class="wrap-slick2">
                      <div class="slick2">
                        <div *ngFor="let product of productsService.getAllProductsHome(category.id)" class="item-slick2 p-l-15 p-r-15 p-t-15 p-b-15">
                          <!-- Block2 -->
                          <div class="block2">
                            <div class="block2-pic hov-img0">
                              <img [src]="product.imgfile" alt="IMG-PRODUCT">
                              <a href="products/{{product.slug}}/{{product.id}}" class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04">
                                incele
                            </a>
                            </div>
                            <div class="block2-txt flex-w flex-t p-t-14">
                              <div class="block2-txt-child1 flex-col-l">
                                <a href="products/{{product.slug}}/{{product.id}}" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
                                 <b> {{product.name}}</b>
                                </a>
                                <span class="stext-105 cl3">
                                <!-- <b>₺{{product.price}}</b>-->Detaylı Bilgi İçin İletişime Geçiniz
                                </span>
                              </div>
                              
                              <div class="block2-txt-child2 flex-r p-t-3">
                               
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>                      
                    </div>
                  </div>
            
            </div>
        </div>
    </div>
</section>
<div class="jumbotron" style="padding: 0; margin: 0;">
    <div class="container" style="padding: 0; margin: 0; width: 100%;max-width: 100%;">
        <img src="assets/cozastore-master/images/homeView/teslimatbanner.png" alt="ICON" style="width: 100%; height: auto; display: block;">
    </div>
  </div>
<!-- Blog -->
<section class="sec-blog bg0 p-t-60 p-b-90">
    <div class="container">
        <div class="p-b-66">
            <h3 class="ltext-105 cl5 txt-center respon1">
                HİZMETLERİMİZ
            </h3>
        </div>

        <div class="row">
            <div class="col-sm-6 col-md-4 p-b-40">
                <div class="blog-item">
                    <div class="hov-img0">
                        <a href="ahsap-metal-soyunma-dolaplari">
                            <img src="assets/cozastore-master/images/blogs/blog1.png" alt="IMG-BLOG">
                        </a>
                    </div>

                    <div class="p-t-15">
                
                        <h4 class="p-b-12">
                            <a href="ahsap-metal-soyunma-dolaplari" class="mtext-101 cl2 hov-cl1 trans-04">
                                Ahşap ve Metal Soyunma Dolapları
                            </a>
                        </h4>

                        <p class="stext-108 cl6">
                            İş yerlerinde çalışan insanların eşyalarını güvenli bir yere koyması gerekir bundan dolayı bu dolaplar iş güvenliği dolapları olarak adlandırılır. Her şeyden önce İş güvenliği dolapları, personellerin kişisel eşyalarının kirlenmesini önler bunun yanında da güvenli bir şekilde muhafaza edilmesini sağlar. Ayrıca Personel eşyalarının yanı sıra ilk yardım malzemelerinin de muhafaza edilmesi gerekir, bu yüzden bu dolaplar kullanılır. Sonuç olarak İş yerleri personel eşyalarının zarar görmesini engellemek amacıyla özellikle her personele ayrı dolap tahsis eder.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4 p-b-40">
                <div class="blog-item">
                    <div class="hov-img0">
                        <a href="santiye-ranzasi">
                            <img src="assets/cozastore-master/images/blogs/blog2.png" alt="IMG-BLOG">
                        </a>
                    </div>

                    <div class="p-t-15">
                        <h4 class="p-b-12">
                            <a href="santiye-ranzasi" class="mtext-101 cl2 hov-cl1 trans-04">
                                Şantiye Ranzaları, İşçi Ranzaları
                            </a>
                        </h4>

                        <p class="stext-108 cl6">
                            Özellikle orta ve büyük ölçekli inşaat alanlarında işçilere yatacak yer sağlanır ve bundan dolayı şantiye ranzası kullanımı tercih edilir. Başka bir deyişle Şantiye yatakhaneleri en verimli şekilde kullanılarak daha fazla sayıda işçinin barınması sağlar.
                            Şantiye ranzası için malzeme olarak genellikle çelik kullanılır.Aynı zamanda zor paslanan ve dayanıklı olan çelik, ortama şık bir görünüm katar. Ancak çelik her ne kadar dayanıklı bir malzeme olsa da nemli ortamlarda paslanabilir. Bu yüzden ranzaların kullanım ömrünü kısaltır. Bundan dolayı yatakhanenin yüksek oranda nem barındırmadığından emin olunmalıdır.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4 p-b-40">
                <div class="blog-item">
                    <div class="hov-img0">
                        <a href="is-guvenligi-ekipmanlari">
                            <img src="assets/cozastore-master/images/blogs/blog3.png" alt="IMG-BLOG">
                        </a>
                    </div>

                    <div class="p-t-15">
                

                        <h4 class="p-b-12">
                            <a href="is-guvenligi-ekipmanlari" class="mtext-101 cl2 hov-cl1 trans-04">
                                İş Güvenliği Ekipmanları
                            </a>
                        </h4>

                        <p class="stext-108 cl6">
                            İş güvenliği ekipmanları işçi sağlığını ve bunun yanında güvenliğini korumak amacıyla kullanılması gereken malzemelerdir. Aynı zamanda bu ekipmanlar iş yerinde oluşabilecek kazalar sonucu çalışanların göreceği zararı ortadan kaldırır ya da en az hasarla atlatmasını sağlar.
Kısacası iş yerlerinde çalışanlara sağlıklı bir ortam yaratmak bununla birlikte işçinin bedensel ruhsal ve sosyal açıdan iyilik hallerinin en üst düzeye tutmak amacıyla yapılan çalışmalara iş güvenliği denir.

Başka bir deyişle iş nedeniyle işçide herhangi bir sağlık probleminin oluşmasını engellemeye yönelik  çalışmalardır. Sonuç olarak çalışanların güvenliğini sağlamak, işletme güvenliğini sağlamak ve üretim güvenliğini sağlayan insan merkezli uygulamalardır.


                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



