<!-- Title page -->
<section class="bg-img1 txt-center p-lr-15 p-tb-92" style="background-image: url('assets/cozastore-master/images/bg-01.jpg');">
    <h2 class="ltext-105 cl0 txt-center">
        Hakkımızda
    </h2>
</section>	


<!-- Content page -->
<section class="bg0 p-t-75 p-b-120">
    <div class="container">
        <div class="row p-b-148">
            <div class="col-md-7 col-lg-8">
                <div class="p-t-7 p-r-85 p-r-15-lg p-r-0-md">
                    <h3 class="mtext-111 cl2 p-b-16">
                        ANADOLU YAKASININ EN BÜYÜK TOPTANCISI
                    </h3>

                    <p class="stext-113 cl6 p-b-26">
                        2011 yılında kurulan KNZ Grup, 10 yıllık tecrübesi ile çağımızın ihtiyaçlarını analiz edip uygulayan ve bu sayede rekabet gücüne dayalı güven veren bir firma olmayı vizyon başarmıştır.        
                    </p>

                    <p class="stext-113 cl6 p-b-26">
                        Özellikle Mobilya, Tekstil ve Nakliye alanlarında yatırımlar yapıldı. Böylelikle KNZ Grup Avrupa yakasının en büyük ranza toptancısı olmaya hak kazanmıştır.
                    </p>

                    <p class="stext-113 cl6 p-b-26">
                        KNZ Grup özellikle Hızlı, Nitelikli, Çözüm odaklı hizmet anlayışıyla hareket etmektedir. Bunların dışında, insan haklarına saygılı, sürekli gelişmeye açık ve insan odaklı bir misyon belirleyen firmamız, bununla birlikte önümüzdeki yıllarda sektöründe Marmara bölgesinin en büyüğü olmayı hedeflemektedir.
                    </p>
                    <p class="stext-113 cl6 p-b-26">Bazı müşteri notlarımız...</p>
                    <div class="bor16 p-l-29 p-b-9 m-t-22">
                        <span class="stext-111 cl8">
                            <b>Nurgül Tuncel</b> (Genel Müdür - Mita Evcil Hayvan Ürünleri)
                            <br>
                        </span>
                        <p class="stext-114 cl6 p-r-40 p-b-11">
                            Çözüm odaklı hizmet anlayışı ile 10 yıldır çalıştığımız firma.Hizmetleri için teşekkür ederiz.   
                        </p>

                        
                    </div>
                    <div class="bor16 p-l-29 p-b-9 m-t-22">
                        <span class="stext-111 cl8">
                            <b>Zeynep Çınar</b> (ARC Yapı)
                            <br>
                        </span>
                        <p class="stext-114 cl6 p-r-40 p-b-11">
                           The approch toward working on enagements is very structured,profeisonal and resutls driven.Apart from being very collaborative and constructive,the team at GLB understand what they are doing
                           on tranformaitons programs.This has only helped all of us succeed toward relaizing game-changing visions.   
                        </p>

                        
                    </div>
                </div>
            </div>

            <div class="col-11 col-md-5 col-lg-4 m-lr-auto">
                <div class="how-bor1 ">
                    <div class="hov-img0">
                        <img src="assets/cozastore-master/images/blogs/blog4.png" alt="IMG">
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="order-md-2 col-md-7 col-lg-8 p-b-30">
                <div class="p-t-7 p-l-85 p-l-15-lg p-l-0-md">
                    <h3 class="mtext-111 cl2 p-b-16">
                        Ürünlerimiz
                    </h3>
                    <h5>Şantiye Ranzaları</h5>
                    <br>   
                    <p class="stext-113 cl6 p-b-26">
                        Özellikle orta ve büyük ölçekli inşaat alanlarında işçilere firmalar tarafından yatacak yer sağlanır ve şantiye ranzası kullanımı tercih edilir. Üstelik bu yatak tipleri sayesinde şantiye yatakhaneleri en verimli şekilde kullanılarak daha fazla sayıda işçinin barınması sağlanır.
                    </p>

                    <h5>Nevresim Takımları</h5>
                    <br>   
                    <p class="stext-113 cl6 p-b-26">
                        İşçi nevresim takımları, şantiyede çalışan işçilerin kullandığı hem düşük maliyetli hem de uzun ömürlü nevresimlerdir.  Nevresim takımı kullanılmazsa kullanıcı alerjik reaksiyon gösterebilir veya başka sağlık sorunları ortaya çıkabilir. Aynı durum işçiler için de geçerlidir ve bu yüzden uzun ömürlü ve hijyenik işçi nevresim takımları kullanılmalıdır.
                    
                    <h5>Metal-Ahşap Soyunma Dolapları</h5>
                    <br>   
                    <p class="stext-113 cl6 p-b-26">
                        İş yerlerinde çalışan insanların çalışma saatlerinde eşyalarını güvenli bir yere koyması gerekir bu yüzden bu dolaplar iş güvenliği dolapları olarak adlandırılır. İş güvenliği dolapları personellerin kişisel eşyalarının hem kirlenmesini önler hem de güvenli bir şekilde muhafaza edilmesini sağlar.
                    </p>

                    <h5>İş Güvenliği Ekipmanları</h5>
                    <br>   
                    <p class="stext-113 cl6 p-b-26">
                        İş güvenliği ekipmanları işçi sağlığını ve güvenliğini korumak amacıyla kullanılması gereken malzemelerdir.  Bu ekipmanlar oluşabilecek kazaların zararını ortadan kaldırır ya da en az hasarla atlatmasını sağlar.
                    </p>

                    <h5>Tamamlayıcı Ürünler</h5>
                    <br>   
                    <p class="stext-113 cl6 p-b-26">
                        Nevresim takımı seçmek kolay gibi görünebilir hatta önemsiz de görülebilir. Ancak nevresim takımının kumaşının dayanıklı ve uzun ömürlü olmalıdır. Ayrıca düşük maliyet için de bilinmesi gereken birkaç ipucu vardır.
                    </p>

               
                </div>
            </div>

            <div class="order-md-1 col-11 col-md-5 col-lg-4 m-lr-auto p-b-30">
                <div class="how-bor2">
                    <div class="hov-img0">
                        <img src="assets/cozastore-master/images/blogs/blog5.jpg" alt="IMG">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>	