<div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-10">
        <div class="card mb-4">
            <div class="card-header">
                <i class="fa fa-table me-1"></i>
                Teklif Bekleyenler Listesi
            </div>
            <div class="card-body">
                <table id="datatablesSimple" class="table table-hover">
                    <thead>
                        <tr>
                            <th>TeklifId</th>
                            <th>Ad Soyad</th>
                            <th>Mail</th>
                            <th>Telefon</th>
                            <th>Tarih</th>
                            <th>Tutar</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>TeklifId</th>
                            <th>Ad Soyad</th>
                            <th>Mail</th>
                            <th>Telefon</th>
                            <th>Tarih</th>
                            <th>Tutar</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        <!-- No data available row -->
                        <tr *ngIf="!siparis.length">
                            <td colspan="6" class="text-center">No data available</td>
                        </tr>
                        <!-- Data rows -->
                        <tr *ngFor="let item of siparis">
                            <td style="text-align: center;"><a [routerLink]="['/admin/teklif-detay', item.siparisid]" [queryParams]="{ siparisid : item.siparisid,name: item.name, mail: item.mail, tel: item.tel }">#{{item.siparisid}}</a></td>
                            <td style="text-align: center;">{{item.name}}</td>
                            <td style="text-align: center;">{{item.mail}}</td>
                            <td style="text-align: center;">{{item.tel}}</td>
                            <td style="text-align: center;">{{item.tarih}}</td>
                            <td style="text-align: center;">{{item.totalprice}}₺</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-lg-1"></div>
</div>
