
        <!-- Header-->
        <header class="py-5">
            <div class="container px-lg-5">
                <div class="p-4 p-lg-5 bg-light rounded-3 text-center">
                    <div class="m-4 m-lg-5">
                        <h1 class="display-5 fw-bold">REFERANSLARIMIZ...</h1>  
                        <br>
                        <p>Referanslarımız. KNZ Grup, Hızlı, Nitelikli, Çözüm odaklı hizmet anlayışıyla insan haklarına saygılı, sürekli gelişmeye açık ve insan odaklı misyona sahip bir firmadir.

                            Önümüzdeki yıllarda sektöründe Marmara bölgesinin en büyüğü olmayı hedeflemektedir. Sektördeki 10 Yıllık tecrübemiz ve mutlu müşterilerimizle hizmet etmeye devam ediyoruz.
                            
                            Şantiye ve Fabrikalarınızın ihtiyaçlarına hızlı,uygun ve aynı zamanda dayanıklı çözümler sunuyoruz. En önemlisi Çelik Ranza sistemleri, İşçi Dolapları, tamamlayıcı ürünler ile tüm ihtiyaçlarınız için hizmet sunuyoruz.
                            
                            Referanslarımız aşağıdadır.</p>                    
                    </div>
                </div>
            </div>
        </header>
        <!-- Page Content--> 
        <section class="pt-4">
            <div class="container px-lg-5">
                <!-- Page Features-->
                <div id="image-container" class="row gx-lg-5">
                    
                </div>
            </div>
        </section>
       
