<!-- Product -->
<div class="bg0 m-t-23 p-b-140">
    <div class="container">
        <div class="flex-w flex-sb-m p-b-52">
            <div class="flex-w flex-l-m filter-tope-group m-tb-10">
                <button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 how-active1" (click)="kategoriSec(null)" data-filter="*">
                    Tüm Ürünler
                </button>
                <div *ngFor="let item of categories; trackBy: trackByCategoryId">
                    <button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" (click)="kategoriSec(item.id)" [attr.data-filter]="'.' + item.id">
                        {{ item.name }}
                    </button>
                </div>
            </div>
        </div>
        <div class="row isotope-grid">
            <!-- ürünler dinamik olarak filtreleniyor -->
            <div *ngFor="let item of filteredProducts; trackBy: trackByProductId" class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item {{item.categoryid}}">
                <!-- Block2 -->
                <div class="block2" style="border: 1px solid #ddd; padding: 10px; border-radius: 5px;">
                    <div class="block2-pic hov-img0">    
                        <img [src]="'assets/cozastore-master/images/products/' + item.imgfile" alt="IMG-PRODUCT">
                        <a [routerLink]="['/products', item.slug, item.id]" class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04">
                            incele
                        </a>
                    </div>
                    <div class="block2-txt flex-w flex-t p-t-14">
                        <div class="block2-txt-child1 flex-col-l">
							<a [routerLink]="['/products', item.slug, item.id]" class="stext-104 cl4 hov-cl1 trans-04 p-b-6">
								<b>{{ item.name }}</b>
							</a>
                            <span class="stext-105 cl3">
                                <b>₺{{ item.price }}</b>
                            </span>
                            <button (click)="urunEkle(item)" type="button" class="btn btn-outline-success btn-m btn-block">
                                <i class="bi bi-cart3"></i>
                                Sepete Ekle
                            </button>  
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Load more -->
    </div>
</div>
<!-- Modal1 -->
