.row {
    display: flex;
    flex-wrap: wrap;
}

.isotope-item {
    display: flex;
    flex-direction: column; /* Kartların dikey hizalanmasını sağlar */
    justify-content: space-between; /* İçeriğin dikey olarak eşit dağılmasını sağlar */
}
.block2-pic img {
    width: 100%; /* Kartın genişliğini kaplar */
    height: auto; /* Orantılı yükseklik */
    max-height: 150px; /* İsteğe bağlı: maksimum yükseklik belirleyebilirsiniz */
}