<!-- Title page -->
<section class="bg-img1 txt-center p-lr-15 p-tb-92" style="background-image: url('assets/cozastore-master/images/bg-01.jpg');">
    <h2 class="ltext-105 cl0 txt-center">
        Şantiye Ranzası
    </h2>
</section>	


<!-- Content page -->
<section class="bg0 p-t-75 p-b-120">
    <div class="container">
        <div class="row p-b-30">
            <div class="col-md-6 col-lg-7">
                <div class="p-t-7 p-r-85 p-r-15-lg p-r-0-md">
                    <h5 class="mtext-111 cl2 p-b-16" style="color:rgb(199, 54, 54);">
                        1 mm ve 1,5 mm çelik seçenekleri için ayrı teklif alabilirsiniz.
                    </h5>
                    <p class="stext-113 cl6 p-b-26">
                        Özellikle orta ve büyük ölçekli inşaat alanlarında işçilere firmalar tarafından yatacak yer sağlanır ve şantiye ranzası yaygındır. Bu yatak tipleri sayesinde şantiye yatakhaneleri en verimli şekilde kullanılarak daha fazla sayıda işçinin barınması sağlanır.
                    </p>
                    <p class="stext-113 cl6 p-b-26">
                        Şantiye ranzası için malzeme olarak genellikle çelik kullanılmaktadır. Zor paslanan ve dayanıklı olan çelik, ortama şık bir görünüm de katar. Ancak çelik her ne kadar dayanıklı bir malzeme olsa da nemli ortamlarda pas tutar. Bu da ranzaların kullanım ömrünü kısaltır. Bu yüzden, yatakhanenin yüksek oranda nem barındırmadığından emin olunmalıdır.
                    </p>
                    <h4 style="color:rgb(19, 52, 243);">
                        Şantiye Ranzası Kullanım Alanları
                    </h4>
                    <p class="stext-113 cl6 p-b-26">
                        Sadece inşaat alanlarında değil aynı zamanda;
                        <br>
                        -Okul
                        <br>
                        -Öğrenci Yurtları
                        <br>    
                        -Fabrikalarda da yoğun olarak kullanılmaktadır. Bazı ranza tipleri nadir de olsa ev kullanımına da uygundur.                      
                    </p>
                
                  
                </div>
            </div>

            <div class="col-11 col-md-6 col-lg-5 m-lr-auto">
                <div class="how-bor1 ">
                    <div class="hov-img0">
                        <img src="assets/cozastore-master/images/blogs/knzgrup_isci_yatagi.png" alt="IMG">
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="order-md-2 col-md-6 col-lg-6 p-b-30">
                <div class="p-t-7 p-l-85 p-l-15-lg p-l-0-md">
                    <h3 class="mtext-111 cl2 p-b-16" style="color:rgb(199, 54, 54);">
                        Şantiye Ranzası Avantajları
                    </h3>  
                   <b> <p class="stext-113 cl6 p-b-26">
                        İşçi ranzası olarak da bilinen şantiye ranzalarının pek çok avantajı vardır. Özellikle kalabalık ortamlarda kullanılan bu yatak tipleri, çoğu zaman hayat kurtarıcı roldedir. Şantiye ranzalarının avantajlarını aşağıdaki gibi sıralayabiliriz:
                    </p></b>
                    <h5 class="mtext-111 cl2 p-b-16" style="color:rgb(19, 52, 243); text-align: center;">
                        <u>Az yer kaplar</u>
                    </h5>
                    <p class="stext-113 cl6 p-b-26">
                        Bir inşaatta onlarca işçi çalışır. Hatta büyük şantiyelerde bu sayı binleri dahi buluyor. Bu kadar çok sayıda işçinin şantiye alanlarına yakın alanlarda ikamet etmesi hem zaman hem de yolda harcanan enerji kaybını önlemek için elzemdir. Şantiye yakınlarına kurulan geçici yatakhaneler ise çoğu zaman bütün işçilere ayrı alanlar sunmaz. Bu gibi durumlarda az yer kaplayan ancak daha fazla sayıda işçinin barınmasını sağlayan şantiye ranzası tercih edilmektedir.
                    </p>

                    <h5 class="mtext-111 cl2 p-b-16" style="color:rgb(19, 52, 243); text-align: center;">
                        <u>Dayanıklıdır</u>
                    </h5>
                    <p class="stext-113 cl6 p-b-26">
                        İşçi ranzası yapım malzemesi olarak çelik kullanıldığını belirtmiştik. Çelik diğer malzemelere göre kıyaslandığında oldukça uzun bir ömre sahiptir. Üstelik taşınma veya kurulum esnasında çeliğin bozulma veya kırılma olasılığı oldukça düşüktür.
                    </p>
                    <h5 class="mtext-111 cl2 p-b-16" style="color:rgb(19, 52, 243); text-align: center;">
                        <u>Uygun fiyatlıdır</u>
                    </h5>
                    <p class="stext-113 cl6 p-b-26">
                        Bu ranzalar genellikle inşaat bittikten sonra tekrar kullanılmaz. Dolayısıyla hem düşük maliyetli hem dayanıklı hem de az yer kaplayan bir yatak tipinin tercih edilmesi önem taşır. Şantiye ranzası ise bu koşulları sağlayan düşük maliyetli bir yatırımdır.
                    </p>
                               
                </div>
            </div>

            <div class="order-md-2 col-md-6 col-lg-6 p-b-30">
                <div class="p-t-7 p-l-85 p-l-15-lg p-l-0-md">
                    <h3 class="mtext-111 cl2 p-b-16" style="color:rgb(199, 54, 54);">
                        Şantiye Ranzası Seçilirken Dikkat Edilmesi Gerekenler
                    </h3>  
                   <b><p class="stext-113 cl6 p-b-26">
                        Ranza seçimi yapılırken dikkat edilmesi gereken birkaç nokta vardır. Bu önemli noktaları aşağıdaki gibi sıralayabiliriz:
                    </p></b>
                    <h5 class="mtext-111 cl2 p-b-16" style="color:rgb(19, 52, 243); text-align: center;">
                        <u>Kullanılacak alanın ölçüsü</u>
                    </h5>
                    <p class="stext-113 cl6 p-b-26">
                        Yatakhane genişliğine uygun ölçülerde şantiye ranzaları üretmek mümkündür. Bu yüzden ranzaları satın almadan önce yatakhane ölçüleriniz bizlerle paylaşmayı ihmal etmeyin
                    </p>

                    <h5 class="mtext-111 cl2 p-b-16" style="color:rgb(19, 52, 243); text-align: center;">
                        <u>Güvenlik</u>
                    </h5>
                    <p class="stext-113 cl6 p-b-26">
                        Seçeceğiniz ranzaların korkuluk sistemi, taşıyıcı iskeleti ve yatağın altındaki taşıyıcı ızgaraların dayanıklı olduğundan emin olunmalıdır.
                    </p>
                    <h5 class="mtext-111 cl2 p-b-16" style="color:rgb(19, 52, 243); text-align: center;">
                        <u>Ranzaya çıkmak kolay olmalı</u>
                    </h5>
                    <p class="stext-113 cl6 p-b-26">
                        Kimi ranzalarda merdiven sistemi olmayabilir. Bu da işçilerin yataklara çıkarken zorluk yaşamasına hatta düşüp yaralanmalarına sebep olabilir. Bu yüzden seçilen ranzanın merdiven sistemine sahip olmasına dikkat edilmelidir.
                    </p>   
                    <h5 class="mtext-111 cl2 p-b-16" style="color:rgb(19, 52, 243); text-align: center;">
                        <u>Doğru yükseklik</u>
                    </h5>
                    <p class="stext-113 cl6 p-b-26">
                        Bazı ranzalar fazla yüksektir ve tavana oldukça yakın mesafede kalır. Bu durumda kullanıcının başını tavana çarpma olasılığı oldukça yüksektir. Buna karşın bazı ranzalar oldukça alçaktır. Özellikle ranzanın alt katında kalanlar için kullanım bu durumda oldukça zordur. İş Sağlığı Tüzüğü’ne göre katlar arası mesafe en az 80cm olmalıdır. Bu durum göz önünde bulundurularak yatak seçimi yapılmalıdır.
                    </p>       
                </div>
            </div>
        </div>
        <div class="row">
            <div class="order-md-1 col-md-12 col-lg-12 p-b-30">
                <div class="p-t-7 p-l-85 p-l-15-lg p-l-0-md">
                    <h3 class="mtext-111 cl2 p-b-16" style="color:rgb(199, 54, 54); text-align: center;">
                        İşçi Ranzası Nasıl Kurulur?
                    </h3>  
                   <b><p class="stext-113 cl6 p-b-26">
                        Ranza kurulumu oldukça kolaydır. Sadece birkaç dakikada 2 katlı bir ranzayı kurma şansına sahipsiniz. Aşağıdaki adımları izleyerek yatakhane kurulumu yapabilirsiniz.
                    </p></b>
                    <h5 class="mtext-111 cl2 p-b-16" style="color:rgb(19, 52, 243); text-align: center;">
                        <u>İskeleti kurun</u>
                    </h5>
                    <p class="stext-113 cl6 p-b-26">
                        Yatak başlığını sabit tutun ve yatak iskeletlerini başlığa sabitleyin. Daha sonra diğer yatak başlığını alın ve iskeletleri yatağın diğer başına geçirin. Bu işlemi iki yatak için de yapın.
                    </p>

                    <h5 class="mtext-111 cl2 p-b-16" style="color:rgb(19, 52, 243); text-align: center;">
                        <u>Izgaraları yerleştirin</u>
                    </h5>
                    <p class="stext-113 cl6 p-b-26">
                        Yatak iskeletini hazırladıktan sonra, yatağın çökmesini engelleyen ızgaraları iskelete yerleştirin.
                    </p>
                    <h5 class="mtext-111 cl2 p-b-16" style="color:rgb(19, 52, 243); text-align: center;">
                        <u>Yatakları üst üste koyun</u>
                    </h5>
                    <p class="stext-113 cl6 p-b-26">
                        Ranzalar birbirine geçirmeli bir sisteme sahiptir. Yatak başlığında bulunan bölmeler sayesinde ranzalar sabit bir şekilde durur. Bir yatağı diğerinin üstüne koyun ve sabit olduğundan emin olun.
                    </p>   
                </div>
            </div>
        </div>
    </div>
</section>	
