<!-- Title page -->
<section class="bg-img1 txt-center p-lr-15 p-tb-92" style="background-image: url('assets/cozastore-master/images/bg-01.jpg');">
    <h2 class="ltext-105 cl0 txt-center">
        İş Güvenliği Ekipmanları
    </h2>
</section>	


<!-- Content page -->
<section class="bg0 p-t-75 p-b-120">
    <div class="container">
        <div class="row p-b-30">
            <div class="col-md-6 col-lg-7">
                <div class="p-t-7 p-r-85 p-r-15-lg p-r-0-md">
                    <h5 class="mtext-111 cl2 p-b-16" style="color:rgb(199, 54, 54);">
                        Ekipmanlar hakkında detaylı bilgi için bize ulaşın.
                    </h5>
                    <p class="stext-113 cl6 p-b-26">
                        İş güvenliği ekipmanları işçi sağlığını ve güvenliğini korumak amacıyla kullanılması gereken malzemelerdir. İş yerinde gerçekleşen kazalar sonucu çalışanların göreceği zararı engeller veya en az hasarla atlatmasını sağlar.
                    </p>
                    <p class="stext-113 cl6 p-b-26">
                        Ekipmanlar hakkında detaylı bilgi vermeden önce iş güvenliği hakkında bilgi sahibi olmak gerekir.
                    </p>
                    <p class="stext-113 cl6 p-b-26">
                        İş yerlerinde çalışanlara sağlıklı bir ortam yaratmak, işçinin bedensel ruhsal ve sosyal açıdan iyilik hallerinin en üst düzeye tutmak amacıyla yapılan çalışmalara iş güvenliği denir. İş yerinde yapılan iş nedeniyle işçide herhangi bir sağlık probleminin oluşmasını engellemeye yönelik, çalışmalardır.  Çalışanların güvenliğini sağlamak, işletme güvenliğini sağlamak ve üretim güvenliğini sağlayan insan merkezli uygulamalardır.
                    </p>
                    
                    <div class="header-cart-buttons flex-w w-full">                  
                        <a href="assets/cozastore-master/images/Is_Ekipman_Katalog.pdf" class="flex-c-m stext-101 cl0 size-107 bg1 bor2 hov-btn3 p-lr-15 trans-04 m-b-10"  target="_blank">
                            KATOLOĞUMUZU İNCELEYİNİZ
                        </a>
                    </div>


                </div>
            </div>

            <div class="col-11 col-md-6 col-lg-5 m-lr-auto">
                <div class="how-bor1 ">
                    <div class="hov-img0">
                        <img src="assets/cozastore-master/images/homeView/hw3.png" alt="IMG">
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="order-md-2 col-md-6 col-lg-6 p-b-30">
                <div class="p-t-7 p-l-85 p-l-15-lg p-l-0-md">
                    <h3 class="mtext-111 cl2 p-b-16" style="color:rgb(199, 54, 54); text-align: center;">
                        İş Güvenliği Ekipmanları
                    </h3>  
                    <br>
                    <h5 class="mtext-111 cl2 p-b-16" style="color:rgb(19, 52, 243); text-align: center;">
                        <u>Baş koruma ekipmanları</u>
                    </h5>
                    <p class="stext-113 cl6 p-b-26">
                        Çalışanların kafalarına gelen darbeler veya yüksekten düşen cisimler için şapka, bone, baret v.b malzemeler kullanılmaktadır. Bu malzemeler düşen cisimlerin hızını azaltıp, çalışan daha az zarar görürmesini sağlar. Bu araçların çalışan kafasına tam oturması ve kafaya sabitlenmesi gerekir.
                    </p>

                    <h5 class="mtext-111 cl2 p-b-16" style="color:rgb(19, 52, 243); text-align: center;">
                        <u>Vücut koruma ekipmanları</u>
                    </h5>
                    <p class="stext-113 cl6 p-b-26">
                        Çalışanların vücutlarına gelen darbeleri, cisimlerin düşmesini engellemek amacıyla ya da hava şartlarına uyumlu şekilde çalışabilmesi için tulum, mont, emniyet kemeri, bel destek kemeri gibi iş güvenliği ekipmanları kullanılmalıdır. Bu malzemelerin çalışan vücuduna uygun olması ayrıca hava alabilen, esnek, kişinin hareketini engellemeyecek şekilde olması gerekir.
                    </p>
                    <h5 class="mtext-111 cl2 p-b-16" style="color:rgb(19, 52, 243); text-align: center;">
                        <u>Göz Koruma Ekipmanları</u>
                    </h5>
                    <p class="stext-113 cl6 p-b-26">
                        Çalışanın gözüne gelebilecek toz, buhar kaynak ışınları ya da yüzüne sıçrayabilecek cisimleri engellemek amacıyla koruyucu gözlük ve yüz koruyucu siperlik kullanılmalıdır. Bu gözlükler kullanım alanlarına göre çeşitlendirilebilir.
                    </p>
                    <h5 class="mtext-111 cl2 p-b-16" style="color:rgb(19, 52, 243); text-align: center;">
                        <u>Kulak Koruma Ekipmanları</u>
                    </h5>
                    <p class="stext-113 cl6 p-b-26">
                        Çalışanları yüksek ses riskine karşı korumak amacıyla tam korumalı kulaklık veya kulak tıkacı kullanılmalıdır.
                    </p>
                    <h5 class="mtext-111 cl2 p-b-16" style="color:rgb(19, 52, 243); text-align: center;">
                        <u>El koruma ekipmanları</u>
                    </h5>
                    <p class="stext-113 cl6 p-b-26">
                        İşçilerin ellerini keskin cisimlerden, soğuk ve sıcaktan korumak ya da eline cisim batması gibi kazaları önlemek amacıyla iş eldivenleri kullanılmalıdır. Yapılan işe göre pamuklu, plastik ya da deri eldivenler tercih edilmelidir.
                    </p>
                    <h5 class="mtext-111 cl2 p-b-16" style="color:rgb(19, 52, 243); text-align: center;">
                        <u>Ayak Koruma Ekipmanları</u>
                    </h5>
                    <p class="stext-113 cl6 p-b-26">
                        Çalışanın iş esnasında ayağına düşebilecek cisimlerden korunmasını sağlamak ya da ayağını bir yere çarpması sonucu yaralanmasını önlemek amacıyla yapılan işin niteliğine göre kaymaz tabanlı ayakkabı veya çizmeler kullanılmalıdır.
                    </p>
                               
                </div>
            </div>

            <div class="order-md-2 col-md-6 col-lg-6 p-b-30">
                <div class="p-t-7 p-l-85 p-l-15-lg p-l-0-md">
                    <h5 class="mtext-111 cl2 p-b-16" style="color:rgb(19, 52, 243); text-align: center;">
                        <u>Solunum Sistemi Koruyucuları</u>
                    </h5>
                    <p class="stext-113 cl6 p-b-26">
                        İşçilerin havada asılı toz tanelerinden korunması amacıyla toz maskesi ya da gaz maskesi gibi ekipmanlar kullanılmalıdır.
                    </p>

                    <h5 class="mtext-111 cl2 p-b-16" style="color:rgb(19, 52, 243); text-align: center;">
                        <u>Gaz Algılama Sistemleri</u>
                    </h5>
                    <p class="stext-113 cl6 p-b-26">
                        İş güvenliği ekipmanları arasında gaz algılama sistemleri de vardır. İşçilerin zehirli gazlardan korunmasını sağlamak amacıyla gaz kaçak algılama cihazları kullanılmalıdır.
                    </p>
                    <h5 class="mtext-111 cl2 p-b-16" style="color:rgb(19, 52, 243); text-align: center;">
                        <u>Yangın ve Kaynak Güvenliği</u>
                    </h5>
                    <p class="stext-113 cl6 p-b-26">
                        Yangın söndürme cihazı, yangın dolabı, yangın battaniyesi gibi ürünler yangın tehlikesine karşı korunmak amacıyla kullanılmalıdır.
                    </p>       
                    <h5 class="mtext-111 cl2 p-b-16" style="color:rgb(199, 54, 54);">
                        İş Güvenliği Ekipmanları Alınırken Nelere Dikkat Edilmelidir ?
                    </h5> 
                    <p class="stext-113 cl6 p-b-26">
                        Her sektörün çalışma koşulları farklıdır ve iş güvenliği her sektör için çok önemlidir. İş kazalarını, yaralanmaları önlemek amacıyla iş güvenlik ekipmanları işveren tarafından temin edilmelidir. Çalışanlar bu konuda bilgilendirilmelidir. Bu ekipmanlar, çalışanın güvenliğini sağlamanın yanı sıra çevrenin güvenliğini sağlamak amacıyla da kullanılmalıdır. Ancak doğru malzemenin seçilmemesi güvenliği sağlamayacağı gibi daha tehlikeli sonuçlara neden olur. Dolayısıyla ekipmanlar işin niteliğine göre seçilip ve malzemelerin kullanımı konusunda işçilerin muhakkak bilgilendirilmesi gerekir.
                    </p>  
                    <p class="stext-113 cl6 p-b-26">
                        -Olası riskler tanımlanarak işe uygun olarak seçilmelidir,
                        <br>
                        -Doğru şekilde kullanıldığında tam koruma sağlamalıdır,
                        <br>
                        -Malzemenin ek risk oluşturmaması gerekir,
                        <br>
                        -Çalışanın vücuduna, sağlık durumuna ve çalışma koşullarına uygun olması gerekir,
                        <br>
                        -Aynı işi yapan tüm çalışanlara ücretsiz olarak temin edilmelidir,
                        <br>
                        -Ekipmanın kullanım kılavuzu okunup ve gereken bakımları yapılmalıdır.
                    </p>  
                </div>
            </div>
        </div>
    </div>
</section>	
