<div class="flex-w flex-tr"  style="display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
height: 100vh;
text-align: center;
margin: 0;
padding: 0;">
    <div class="size-210 bor10 p-lr-70 p-t-55 p-b-70 p-lr-15-lg w-full-md">

        <form (ngSubmit)="onSubmit()">
            <h4 class="mtext-105 cl2 txt-center p-b-30">
             Admin Panel
            </h4>
          
            <div class="bor8 m-b-20 how-pos4-parent">
              <input class="stext-111 cl2 plh3 size-116 p-l-62 p-r-30" type="email" [(ngModel)]="email"  name="email" placeholder="Kullanıcı Adınız" required>
              <img class="how-pos4 pointer-none" src="assets/cozastore-master/images/icons/icon-email.png" alt="ICON">
            </div>
          
            <div class="bor8 m-b-20 how-pos4-parent">
                <input class="stext-111 cl2 plh3 size-116 p-l-62 p-r-30" type="password"  [(ngModel)]="password"  name="password" placeholder="Şifreniz" required>
                <img class="how-pos4 pointer-none" src="assets/cozastore-master/images/icons/icon-email.png" alt="ICON">
              </div>
          
            <button class="flex-c-m stext-101 cl0 size-121 bg3 bor1 hov-btn3 p-lr-15 trans-04 pointer" type="submit">
              GİRİŞ YAP
            </button>
          </form>
    </div>